//------------------------------------------ANIMATION HEART HOVER
.fa-heart
{
    z-index: 1;
    text-align: center; 
           
    position: relative;//position pour absolute de fa-heart::after
    color: black;
    transform: scale(1);
        &:hover
        {
            cursor: pointer;
                
                &::after//fait apparaitre le fond red
                {
                    opacity: 1; 
                    transform: scale(1.03);
                    
                }
                &::before//fait disparaitre le coeur noir
                {
                    opacity: 0;
                    transition: opacity 250ms ease-in; 
                    
                }
        }

        &::after //j'instancie le 'div' invisible (sans créer de div html) avec arguments
        {
            @include pseudo-pos; // arguments de base pour une position after
            
            font-weight: bold; //rempli le fond de l'icone
            z-index: -1;
            opacity: 0;
            transition: opacity 250ms ease-in;
            transform : scale(0.96);
            //--------------------------------------------------------------------------------
            //permet le changement de couleur, mais je ne comprends pas totalement pourquoi...
            // background: linear-gradient(12deg,$secondary 0%,$primary 100%);
            background: linear-gradient(0deg,$secondary 25%,$primary 100%);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            //---------------------------------------------------------------------------------
        }
}

.box-card
{
    transition: transform 250ms ease-in-out;
    transform: scale(1);
    z-index: 0;
        &:active
        {
            transform: scale(1.03);            
        }
}

//----------------------------Animation page pre_load - TRANSITION
//----------------------------Fait transiter la page pré-chargement
@keyframes animation_load
{
    0%
    {
        // visibility: visible;
        opacity: 100;
        transform: translateY(0%);
    }

    70%
    {
        opacity: 100;
        transform: translateY(0%);
    }

    100%
    {
        // visibility: hidden;
        // opacity: 0;
        transform: translateY(-100%);
        
    }
}

// Fait transiter le bloc Index
@keyframes anim-index 
{
    0%
    {
        transform: translateY(10%);
        // opacity: 0;
        visibility: hidden;
    }   

    90%
    {
        transform: translateY(10%);
        // opacity: 0;
    }

    100% 
    {
        transform: translateY(0);
    } 
}


//-----------------------------------------ANIMATION SPIN LOADING ET TRANSITION
//---------------------------------------- code animation

// Applique l'animation de transition du bloc index
.index-hidden
{
    z-index: 0;
    animation: anim-index 2.7s forwards;
}

.animation__loader
{
    z-index: 999999;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 10%, rgba(86,109,220,1) 54%, rgba(255,121,218,1) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; right: 0;left: 0; bottom: 0;
    overflow: hidden;
    
    // adaptabilité animation multi navigateur (pour les plus anciens)----------------------------
    -webkit-animation: animation_load 3s;
    -o-animation: animation_load 3s;
    animation: animation_load 3s;
    animation-fill-mode: forwards;
    opacity: 0;

    // &--block-title
    // {
    //     font-size: clamp(20px, 5vw, 200px);
    //     text-align: center;
    //     position: relative;
    //     top: 30%;

    // }

    &--spinner
    {
        //création du spinner
        //position du spinner
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(45deg, transparent, transparent 40%, $primary);    

        /* / ! \ Deux arguments permettent de laisser le loading continuer tandis
                 qu'il arrête l'animation avec le premier argument / ! \ */
        // -webkit-animation: spin-loading 0.5s linear forwards, spin-loading 0.5s linear infinite;
        // -o-animation: spin-loading 0.5s linear forwards, spin-loading 0.5s linear infinite;
        animation: spin-loading 0.5s linear paused, spin-loading 0.5s linear infinite;
        // animation-play-state: ;

        
    }

    &--spinner::before
        {
            content: '';
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            background: #000;
            border-radius: 50%;
            z-index: 1000;
            
        }

        &--spinner::after
        {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: linear-gradient(45deg, transparent, transparent 40%, $primary);    
            border-radius: 50%;
            z-index: 1000;
            z-index: 1;
            filter: blur(30px);
                        
        }
}

@keyframes spin-loading
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    
    100%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
        
       
    }
}

//--------------------------------------------------------------------------------------------
