/*-------------------------------------------------------------------footer */
footer 
{
    background-color: #353535;
    display:  flex;
    flex-direction: column;
    width: 100%;
    
    .footer__title
    {
        margin: 25px 0 15px 20px;
        font-family: 'Shrikhand', cursive;
        color: white;

        font-size: clamp(19px, 5vw, 30px);
        
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
        
    }
    
    .footer__text 
    {
        
        margin: 20px 0 20px 20px;
        color: white;
        display:  flex;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 25px;
        
         @media (min-width: 768px) 
         {
            display: flex;        
            flex-direction: column; 
            justify-content: center; 
             align-items: center;
             line-height: 30px;
             
        }
    }
    
    .fas 
    {
        width: 10px;
        margin-right: 18px;
        color: white;
        
        @media (min-width: 768px) 
        {
            
            
        }
    }
    
    a 
    {
        color: white;
    }
    
    
}