
/*Glossaire
--------------------------------------------
    localisation
    - box (barre grise localisation)
        > __geo-localisation
            > --bold
            > fa map marker (positionnement)
    @mediaQ MinW 768px
--------------------------------------------
    Nav
    - Explore
        > h2
        > p
        > @mediaQ MinW 768px
--------------------------------------------
    Fonctionnement
    - box-fonction 
        > h3
        > __choice
        > __chiffre
        > fas (icone)
--------------------------------------------
    restaurant
    - container-restaurant
        > heading-titre
    - container__choice-restaurant
    - box-card 
        > @mediaQ MinW 1000px
    - box__card--header img
        > @mediaQ MinW 1000px
    - text-card-title
        > fa-heart
            > @mediaQ MinW 1500px
            > @mediaQ MinW 768px
    - box__card--footer
    - tag-new 
        > @mediaQ MinW 992px
--------------------------------------------
    @mediaQ MinW 620px
        > container-restaurant 
        > box__card 
        > box__card--footer

*/

.box
{    
    width: 100%;
    height: 300px;
    background-color: $graylite;
   
    
    &__geo-localisation 
    {
        
        height: 40px;
        background-color: $graydark;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
            &--bold 
            {
                font-weight: bolder;
                font-size: 0.8em;
            }
        
            .fa-map-marker-alt 
            {
                
                margin-right: 15px;
                margin-left: -50px;
                
            }
        
    }

    //media magique pour le responsive grossissement 
    @media (min-width:768px) 
    { 
        height: auto;
        font-size: 20px;
        padding-bottom: 0.5%;
    }
}

/*-----------------------------------------------NAV--------------------*/

.explore
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:  center;
    margin: 30px 0;
   
    h2 {
        width: 250px;
        font-weight: 900;
        
        @media (min-width: 768px)
        {
            width: 100%;
            
        }
    }
    
    p {
        font-weight: 100;
        margin: 20px 0; 
    }
        
}



/*---------------------------------fonctionnement----------------------------------*/
.box-fonction
{
    width: 100%;
    height: 300px;
    margin: 30px 0;
    
    @media (min-width: 1100px) 
    {
        height: 200px;
        @media (min-width: 1300px) 
        { 
            height: 150px;

        }
        
    }
    
    h3 {
        margin-left: 20px;
        margin-bottom: 15px;
        font-weight: 700;
        
        @media (min-width:768px) {
            
            margin-left: 0px;
            @include titre--responsive; // mixin générale pour les titres 
        }   
    }
    
    &__choice 
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
        @media (min-width: 1100px) 
        {
            margin:auto;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
             @media (min-width: 1300px) 
             {
                margin:auto;
                width: 1000px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
        
    }

    &__chiffre
    {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;

        z-index: 2;
        background-color: $primary;
        width: 20px;
        height: 20px;
        color: white;
        border-radius: 50%;
        font-size: 0.9em;  

        margin: 0;
        position: absolute;
        left: 0;
        transform: translateX(-50%);

    }
    
    .fas //espace à gauche pour les icones de fonctionnement
    {
        margin: 0 10px;   
    }
    
}

/*---------------------------------------------restaurant--------------------------------------*/

.container-restaurant
{
    width: 100%;
    margin:  0 auto;
    background-color: $graylite;

    .heading-titre
    {
        margin-left: 20px;
        font-size: clamp(16px, 4vw, 30px);
        margin-bottom: 30px;
        padding-top: 40px;

        @media(min-width: 768px)
        {
            text-align: center;
            padding-bottom: 20px;
        }
    }
}

.container__choice-restaurant //row
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
    
}

.box-card
{
    width: 45%; // très important ! Administre la taille des card en fonction du width du container général ! (95%)
    background: white;
    margin-bottom: 30px;
    transition: 0.3s;// permet une jolie transition responsive
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px gray;
    position: relative;//pour le tag-new

    @media (min-width: 1000px) //taile card sur pc
    {
        height: 380px;
    }
}

.box__card--header img 
{
    width: 100%;
    object-fit: cover;
    object-position: 35% 65%;
    height: clamp(160px, 10vw, 350px);
    border-radius: 20px 20px 0 0;

    @media (min-width: 1000px)
    {
        height: 300px;
    }
}

.text-card-title
{
    display: flex;
    justify-content: space-between;
    line-height: 1;
    font-weight: 100;
    

    
    .fa-heart
    {
        transform: translateX(-50%);
        font-size: 1.5em;
        // font-weight: none;
        width: 10%; // permet de ne pas couper l'arète droite du coeur
    
        @media (min-width: 1500px)
        {
            transform: translateX(-100%);
        }

        @media (max-width: 768px)
        {
            transform: translateX(-100%);

        }
    }
}

.box__card--footer
{
    margin: 10px 0 0px 15px;
    line-height: 15px;
    font-size: clamp(15px, 1.8vw, 26px);//20px;
    height:47px;
}

.tag-new 
{
    display: inline-block;
    background-color: #99e2d0;
    color: #278870;
    padding: 4px;
    font-weight: bold;
    font-size: clamp(5px, 4vw, 20px);
    text-align: center;
    // width: clamp(5vw85, 15vw, 200px); //50%;

    // initialisation et position du tag (card en relative, lui en absolute)
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 50%);

        @media (min-width: 992px)
        {
            transform: translate(-20%, 85%);
            width: 100px;
        }
    
}
// ------------------------------------------------------------------------responsive card version OC /!\
// ---------------------------------
@media screen and (max-width: 620px) // en-dessous de 620px
{
    .container-restaurant 
    {
        width: 100%;
    }    
   
    .box-card 
    {
        width: 90%;
        
    }  

    .box__card--footer
    {
        padding: 0 0 5px 0;
        margin-bottom: 0px;
    }
}

