/* pages/ contient les blocs de code qui ne s’appliquent qu’à une seule page. Vous utilisez des boutons dans tout votre site,
 en revanche votre page d’accueil comporte une section Citation et une grille de projets qui ne sont employés nulle part ailleurs. 
 En d’autres termes, pages/ contient des règles spécifiques à une seule page qui ne seront pas réutilisées ailleurs ;*/

.box
{
    
    width: 100%;
    height: 300px;
    background-color: $graylite;
   
    
    &__geo-localisation {
        
        height: 40px;
        background-color: $graydark;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
            &--bold {
                font-weight: bolder;
                font-size: 0.8em;
            }
        
        
        
    .fa-map-marker-alt {
        
        margin-right: 15px;
        margin-left: -50px;
        
    }
        
    }
    //media magique pour le responsive grossissement 
    @media (min-width:768px) 
        { 
            height: auto;
            font-size: 20px;
            padding-bottom: 0.5%;
        }
}
/*-----------------------------------------------NAV--------------------*/

.explore
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:  center;
    margin: 30px 0;
   
    h2 {
        width: 250px;
        
        @media (min-width: 768px)
        {
            width: 100%;
            
        }
    }
    
    p {
        margin: 20px 0; 
    }
    
    
}



/*---------------------------------fonctionnement----------------------------------*/
.box-fonction
{
    width: 100%;
    height: 300px;
    margin: 30px 0;
    
    @media (min-width: 1100px) {
        height: 200px;
        @media (min-width: 1300px) { 
            height: 120px;
        }
        
    }
    
    h3 {
        margin-left: 15px;
        margin-bottom: 15px;
        font-weight: 900;
        
        @media (min-width:768px) {
            
            margin-left: 0px;
            @include titre--responsive; // mixin générale pour les titres 
        }   
    }
    
    
    &__choice {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
        @media (min-width: 1100px) {
            margin:auto;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
             @media (min-width: 1300px) {
                margin:auto;
                width: 1000px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
        
    }  
    
}

.box-fonction__chiffre
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 2;
    background-color: $primary;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    font-size: 0.9em;  
    
    margin: 0;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
      
}

/*---------------------------------------------restaurant--------------------------------------*/


.container-restaurant
{
    width: 100%;
    margin:  0 auto;//---------------------------------------------a redéfinir à 0 pour l'espace entre le main et..
    background-color: $graylite;
}

.heading-titre
{
    text-align: center;
    font-size: clamp(20px, 5vw, 20px);
    margin-bottom: 50px;
}

.container__choice-restaurant //row
{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 95%;
    
}

.box-card
{
    width: 45%; // très important ! Administre la taille des card en fonction du width du container général ! (95%)
    background: white;
    margin-bottom: 30px;
    transition: 0.3s;// permet une jolie transition responsive

    border-radius: 20px;
    box-shadow: 0 4px 10px gray;
    position: relative;//pour le tag-new
    
}

.box__card--header img // rien ne se passe si je n'interviens pas sur l'image /!\ pas de cover possible sur un div !
{
    width: 100%;
    object-fit: cover;
    height: clamp(15vw, 10vw, 200px);
    border-radius: 20px 20px 0 0;

}

.text-card-title
{
    display: flex;
    justify-content: space-between;
    line-height: 1;
    

    
    .fa-heart
    {
        transform: translateX(-50%);
        font-size: 1.2em;
        width: 10%; // permet de ne pas couper l'arète droite du coeur
        
        @media (min-width: 1500px)
        {
            transform: translateX(-100%);
        }

        @media (max-width: 768px)
        {
            transform: translateX(-100%);

        }
    }
}

.box__card--footer
{
    margin: 5px 0 5px 15px;
    line-height: 30px;
    font-size: clamp(15px, 5vw, 42px);//20px;
}

.tag-new 
{
    display: inline-block;
    background-color: #99e2d0;
    color: #278870;
    padding: 4px;
    font-weight: bold;
    font-size: clamp(10px, 5vw, 20px);
    text-align: center;
    width: clamp(5vw85, 15vw, 200px); //50%;

    // initialisation et position du tag (card en relative, lui en absolute)
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, 50%);

        @media (min-width: 992px)
        {
            transform: translate(-20%, 85%);
            width: 25%;
        }
    
}
// ------------------------------------------------------------------------responsive card version OC /!\
// ---------------------------------
@media screen and (max-width: 620px) 
{
    .container-restaurant
    {
        width: 100%;
    }    

   

    .box-card
    {
        width: 90%;
        
    }  
    //------------------------------------------------------------------sp
    .box__card--header img
    {
        height: 40vw; // change la taille des card sans faire déborder le card-footer !
        
        
    }

    .box__card--footer
    {
        padding: 0 0 5px 0;
        margin-bottom: 0px;
    }
}

