/*components/ est utilisé pour ranger les blocs BEM qui sont plus indépendants, comme les boutons. */

//------------------------------------------------------------------------------paramètre générale button
button 
{
    background-color: transparent;
    border: none;
    
    
}
 // ----------------------------------------------------------------------------bouton explore
.btn__explore 
{

    width: 200px;
    height: 50px;
    color: white;
    background: linear-gradient($secondary, $primary);
    border-radius: 50px;
    box-shadow: 0px 0px 3px gray;
    font-weight: bolder; 
            
        &:hover 
        {
            cursor: pointer; 
            box-shadow: 0px 0px 3px $secondary;
            background: linear-gradient($primary,$secondary);
            transform: scale(1.02);
            /*transition: all 1s ease-out;*/
        }
        
        @media (min-width:768px) 
        { 
            width: 250px;
            height: 50px;
            font-size: 15px;
            margin-top: 10px;
        }

}

 // ----------------------------------------------------------------------------bouton fonctionnement
.box-fonction__btn 
{
        
    height: 60px;
    width: 90%;
    background-color: $graylite;
    margin: 10px auto;
    border-radius: 15px;
    font-weight: 900;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 3px gray;
    position: relative;

        // icone  dans bouton fonctionnement
        .fas 
        {
            color: gray;     
            position: relative;
            right: 25px;
            font-size: 1.3em;

            //décale pour le responsive fluide tab & pc
            @media (min-width: 768px)
            {
                right: 13px;
                
            }
        }

        &:hover 
        {
            cursor: pointer; 
            box-shadow: 0px 5px 3px #a48daa;
            background: #fcf1ff;
            transform: scale(1.01);      
            /*transition: all 1s ease-out;*/

        }    
    
        @media (min-width: 768px)
        {
            width: 280px;
            font-size: 1.02em;
        }
   
}
    
