
/*Glossaire

    - Button (paramètre général)
    - Bt__explore (hover animation)
    - bloc-btn-commander
    - box-fonction__btn (hover animation) 

*/
//------------------------------------------------------------------------------paramètre générale button
button 
{
    background-color: transparent;
    border: none;
    
}
 // ----------------------------------------------------------------------------bouton explore/commande
.btn__explore 
{

    width: 200px;
    height: 50px;
    color: white;
    background: linear-gradient(180deg, $secondary, $primary);
    border-radius: 50px;
    box-shadow: 0.5px 3px 3px gray;
    font-weight: bolder; 
    // transform: scale(1);
    
            
        &:hover 
        {
            cursor: pointer; 
            box-shadow: 1px 3px 8px gray;
            filter: brightness(110%);
            color: lighten($color: white, $amount: 50%);
            transition: transform 350ms ease-in-out;
            overflow: hidden;
        }
        
        @media (min-width:768px) 
        { 
            width: 250px;
            height: 50px;
            font-size: 15px;
            margin-top: 10px;
        }
}

// ------------------------------------------------------------positionnement du block bouton 'commander'
.bloc-btn-commander
    {
        display:inline-block;
        display: flex;
        justify-content: center;           
        padding: 0 0 40px 0;
    }


 // ----------------------------------------------------------------------------bouton fonctionnement
.box-fonction__btn 
{
        
    height: 60px;
    width: 90%;
    background-color: $graylite;
    margin: 10px auto;
    border-radius: 15px;
    font-weight: 900;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 12px rgb(177, 174, 174);
    position: relative;

        // icone  dans bouton fonctionnement
        .fas 
        {
            color: gray;     
            position: relative;
            right: 25px;
            font-size: 1.3em;

            //décale pour le responsive fluide tab & pc
            @media (min-width: 768px)
            {
                right: 13px;
                
            }
        }

        &:hover 
        {
            box-shadow: 1px 3px 12px rgb(177, 174, 174);
            background: #f7e1fd;      
            transition: all 0.5s ease-out;

            .fas
            {
                color: $primary;
            }

        }    
    
        @media (min-width: 768px)
        {
            width: 280px;
            font-size: 1.02em;
        }
   
}
    
