/*--------------------------------------header-------------------------------*/
body
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 0;
   
    margin: auto;
    
    @media (max-width: 768px){
        width: 100%;
        
    }
    
    
        header {
            
            width: 100%;
            height: 50px;
            z-index: 1;
            
                .header-logo
                {
                    width: 100%;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Shrikhand', cursive;    
                    
                    
                }
        }
}

hr 
{
   width: 100%;
   height: 4px;
   border: none;
   background-color: gray;
   background: linear-gradient(to bottom, gray 0%, $graydarck  100%);
   
}


#logo
{
    width: 100%;
    font-family: 'Shrikhand', cursive;
    font-size: 150%;
}

a, ul
{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

*
{
    
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    
}

.box
{
    
    width: 100%;
    height: 300px;
    background-color: $graylight;
   
    
    &__geo-localisation {
        
        height: 40px;
        background-color: $graydarck;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        &--bold {
            font-weight: bolder;
            font-size: 0.8em;
        }
        
        
        
        .fa-map-marker-alt {
            
            margin-right: 15px;
            margin-left: -50px;
            
        }
        
    }
    
}
/*-----------------------------------------------NAV--------------------*/
button 
{
    background-color: transparent;
    border: none;
    
    &:hover {
       cursor: pointer; 
       box-shadow: 0px 0px 3px $secondary;
       background: linear-gradient($primary,$secondary);
       transform: scale(1.02);
       /*transition: all 1s ease-out;*/
    }
}

.explore
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:  center;
    margin: 30px 0;
   
    h2 {
        width: 250px;
        
        @media (min-width: 768px){
            width: 100%;
        }
    }
    
    p {
        margin: 20px 0; 
    }
    
    
}

.explore-btn
{
    width: 200px;;
    height: 50px;
    color: white;
    background: linear-gradient($secondary, $primary);
    border-radius: 50px;
    box-shadow: 0px 0px 3px gray;
    font-weight: bolder; 
    
}

/*---------------------------------fonctionnement----------------------------------*/
.box-fonction
{
    width: 100%;
    height: 300px;
    margin: 30px 0;
    
    @media (min-width: 1100px) {
        height: 200px;
        @media (min-width: 1300px) { 
            height: 120px;
        }
        
    }
    
    h3 {
        margin-left: 15px;
        margin-bottom: 15px;
        font-weight: 900;
        
        @media (min-width:550px) {
            display: flex;
            justify-content: center;
            margin-left: 0px;
        }   
    }
    
    
    &__choice {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
        @media (min-width: 1100px) {
            margin:auto;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
             @media (min-width: 1300px) {
                margin:auto;
                width: 1000px;
                display: flex;
                flex-direction: row;
                justify-content: center;
        }
        }
        
        
        
      
    }  
    
    &__btn {
        
        height: 60px;
        width: 90%;
        background-color: $graylight;
        margin: 10px auto;
        border-radius: 15px;
        font-weight: 900;
        
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 3px gray;
        position: relative;
        
            .--icone{
                color: gray;     
                position: relative;
                right: 25px;
                font-size: 1.3em;
            }
        
        @media (min-width: 768px){
            width: 260px;
        }
       
        }
        
    
}

.btn--chiffre
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
    z-index: 2;
    background-color: $primary;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    font-size: 0.9em;  
    
    margin: 0;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    
    
   
    
}

/*---------------------------------------------restaurant--------------------------------------*/

.box_restaurant 
{
    
    background-color: $graylight;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 20px;
    
    h3 {
        margin: 30px 0 0 0;
        
        @media (min-width: 768px) {
            text-align: center;
        } 
        
    }
    
        @media (min-width: 768px) {
            
            
            .box_restaurant {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                width: 100%;
                
            }
            
            .box__choice-restaurant {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                
                .box__card {
                    width: 20%;
                    max-width: 20%;                    
                    margin: 20px;
                }
            }
        
        } /*------------media*/
        
    @media (min-width: 1300px) {
        
    }
    
    
}


.box__card {
        display: flex;
        flex-direction: column;
    /*-----------------------------------------gère la taille des card*/
        width: 100%;
        
    /*--------------------------------------*/  
        background-color: white;
        border-radius: 20px; 
        margin: 20px 0;
        box-shadow: 0px 4px 10px gray;
        position: relative;

}



.pic-restaurant /*modification image intérieur card - section 1*/
{
    
    width: 100%;
    height: 34vw;
    min-height: 34vw; 
    
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    
    @media (min-width: 768px) {
        height: 20vw;
        min-height: 20vw; 
    }
}

.box__card--header
{
    margin: 7px 0 0 15px;
    width: 90%;
    height: 16vw;
    font-size: 5vw;
    
    @media (min-width: 768px) {
        height: 5vw;
        font-size: 1.3vw;
        
    }
    
}

.--block-head-heart {
    
    display: flex;
    justify-content: space-between;
    
    .fa-heart {
        color: red;
        font-size: 1.5em;
        position: relative;
        top: 0px;
    }
    
}

.card--tag {
    
    background-color: #99e2d0;
    color: #278870;
    padding: 5px;
    font-weight: bold;
    font-size: .9em;
    text-align: center;
    position: relative;
    width: 80px;
    transform: translate(200px, -150px);
}


@media (min-width: 768px) {
    
}









/*-------------------------------------------------------------------footer */
footer {
    background-color: #353535;
    display:  flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    
    h3 {
        margin: 10px 0 15px 20px;
        font-family: 'Shrikhand', cursive;
        color: white;
        
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
        
    }
    
    .footer__text {
        
        margin: 20px 0 20px 20px;
        color: white;
        display:  flex;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 25px;
        
         @media (min-width: 768px) {
            display: flex;        
            flex-direction: column; 
            justify-content: center; 
             align-items: center;
             line-height: 30px;
             
        }
    }
    
    .fas {
        width: 10px;
        margin-right: 18px;
        color: white;
        
        @media (min-width: 768px) {
            
            
        }
    }
    
    a {
        color: white;
    }
    
    
}




