body
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    
        header {
            
            width: 100%;
            height: 60px;
            
            
                .header-logo
                {
                    width: 100%;
                    height: 95%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Shrikhand', cursive;    
                    box-shadow: 0px 0px 10px black;
                    
                }
        }
}


#logo
{
    width: 100%;
    font-family: 'Shrikhand', cursive;
    font-size: 150%;
}

a, ul
{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

*
{
    
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    
}

.box
{
    
    width: 100%;
    height: 300px;
    background-color: $graylight;
    border-top: 1px solid #bdbdbd;
    
    
    &__geo-localisation {
        
        height: 40px;
        background-color: $graydarck;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        &--bold {
            font-weight: bolder;
            font-size: 0.8em;
        }
        
        
        
        .fa-map-marker-alt {
            
            margin-right: 15px;
            margin-left: -50px;
            
        }
        
    }
    
}
/*-------------------------------------------------------------------*/
button 
{
    background-color: transparent;
    border: none;
    
    &:hover {
       cursor: pointer; 
       box-shadow: 0px 0px 3px $secondary;
       background: linear-gradient($secondary,$primary);
       transform: scale(1.02);
       /*transition: all 1s ease-out;*/
    }
}

.explore
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:  center;
    margin: 30px 0;
   
    p {
        margin: 20px 0; 
    }
    
    
}

.explore-btn
{
    width: 200px;;
    height: 50px;
    color: white;
    background: linear-gradient($primary, $secondary);
    border-radius: 50px;
    box-shadow: 0px 0px 3px gray;
    font-weight: bolder; 
    
}

/*-------------------------------------------------------------------*/
.box-fonction
{
    width: 100%;
    height: 350px;
    
    margin: 50px 0;
    
    h3 {
        margin-bottom: 5px;
        font-weight: 900;
    }
    
    
    &__choice {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      
    }  
    
    &__btn {
        
        height: 60px;
        width: 85%;
        background-color: $graylight;
        margin: 10px auto;
        border-radius: 15px;
        font-weight: 900;
        
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px gray;
        
            .--icone{
            color: gray;     
            position: relative;
            right: 25px;            }
                       
    }
        
    
}


.btn--chiffre
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $primary;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top: 50px;
    
    font-size: 0.8em;
    z-index: 2;
}




