/*Glossaire

    - titre--resposive
    - pseudo-pos (position de base en mixin)

*/

// mixin pour les titres ponctuant les blocs, agrandissement pour responsive tablet et pc
@mixin titre--responsive {

    text-align: center;
    height: auto;
    font-size: 30px;
    
}

// ------------------------------
//mixin général pour un positionnement
@mixin pseudo-pos {
    content: "\f004"; 
    position: absolute; //ne pas oublier de mettre le parent en "relavive"
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

